* { 
	padding: 0px; 
	margin: 0px; 
}

body { 
	font-family: "Noto Sans KR", sans-serif; 
}

.container {
	border: 1pt solid blue;
}



/****************header****************/
.container#header {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	margin: 0 auto;	
	background-color: #fadeee;
}

.first_header {
	width: 100%;
	height: 98px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	padding-bottom: 15px;
}

.first_header .logo_img {
	width: auto;
	height: auto;
	float: left;
	margin-left: 165px;
	margin-top: 40px;
	vertical-align:middle;
}

.first_header .search_box {
	width: 396pt;
	height: 17pt;
	float: left;
	padding: 8pt;
	margin-left: 30px;
	margin-top: 40px;
	border-radius: 100px;
	border: 1.7pt solid #2F92FD;
}

.first_header .search_box input {
	width: 89%;
	height: 100%;
	font-size:18px;
	float: left;
	margin: 0 auto;
	outline: none;
	border: 0px;
	padding-left: 12px;
}

.first_header .search_box button {
	width: 8%;
	height: 100%;
	float: right;
	margin: 0 auto;
	outline: none;
	border: 0px;
	background-color: white;
}

.first_header .event_img {
	width: auto;
	height: auto;
	float: left;
	margin-left: 40px;
	margin-top: 30px;
}

.first_header .mypage_img {
	float: left;
	margin-left: 35px;
	margin-top: 45px;
}
.first_header .navigation_img {
	float: left;
	margin-left: 35px;
	margin-top: 43px;
}

.first_header .navigation_img button {
	margin: 0 auto;
	outline: none;
	border: 0px;
	background-color: white;
}

.first_header .cart_img {
	float: left;
	margin-left: 27px;
	margin-top: 43px;
}


.menu {
	width: 100%;
	height: 460px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	border: 1px solid black;
}










/****************main****************/
.container#main {
	width: 100%;
	height: 100%;
	background-color: #ffa187;
	font-size: 18pt;
}


.container_in_main#best_product {
	width: 900pt;
	height: 280pt;
	margin: 0 auto;	
	background-color: #cfe8cf;
}

.container_in_main#market {
	width: 900pt;
	height: 400pt;
	margin: 0 auto;	
	background-color: red;
}

.container_in_market#gmarket_shopping {
	width: 50%;
	height: 100%;
	float: left;
	background-color: #eae1eb;
}

.container_in_market#smile_shopping {
	width: 50%;
	height: 100%;
	float: left;	
	background-color: #c98ad4;
}

.container_in_main#gmarket_service {
	width: 900pt;
	height: 400pt;
	margin: 0 auto;	
	background-color: #87ffcf;
}

.container_in_main#banner {
	width: 900pt;
	height: 400pt;
	margin: 0 auto;	
	background-color: #f7ecd7;
}

.container_in_main#homeshopping {
	width: 900pt;
	height: 400pt;
	margin: 0 auto;	
	background-color: #f2f4ff;
}

.container_in_main#catch {
	width: 900pt;
	height: 400pt;
	margin: 0 auto;	
	background-color: #949ed4;
}

.container_in_main#superdeal {
	width: 900pt;
	height: 400pt;
	margin: 0 auto;	
	background-color: #9e7ea6;
}

.container_in_main#overseas {
	width: 900pt;
	height: 400pt;
	margin: 0 auto;	
	background-color: #f067a9;
}


.container_in_main#trand_G9 {
	width: 900pt;
	height: 400pt;
	margin: 0 auto;	
	background-color: #d1a479;
}


.container_in_main#focus {
	width: 900pt;
	height: 400pt;
	margin: 0 auto;	
	background-color: #8db2b5;
}


.container_in_main#power {
	width: 900pt;
	height: 400pt;
	margin: 0 auto;	
	background-color: #9cd444;
}

.container_in_main#ad {
	width: 900pt;
	height: 400pt;
	margin: 0 auto;	
	background-color: red;
}

.in_ad#minishop {
	width: 50%;
	height: 100%;
	float: left;
	background-color: #eae1eb;
}

.in_ad#chance {
	width: 50%;
	height: 100%;
	float: left;	
	background-color: #c98ad4;
}

.container_in_main#notice {
	width: 900pt;
	height: 20pt;
	margin: 50pt auto;	
	background-color: #9cd444;
	font-size: 10pt;
}

.container_in_main#notice * {
	display: inline-block;
}

.container_in_main#notice .test_in_notice#title {
	color: #000000;
	font-weight: 1000;
}

.container_in_main#notice .test_in_notice#arrow {
	color: #555555;
}

.container_in_main#notice .test_in_notice#notice {
	color: #555555;
	font-weight: 700;
}

.container_in_main#notice .test_in_notice#date {
	color: #666666;
}

.container_in_main#fontguide {
	width: 100%;
	height: 45pt;
	background-color: #00c01d;
}

.container_in_main .font_in_fontguide#gmarketsans {
	padding-top: 12pt;
	text-align: center;
	font-size: 13pt;
	color: white;
}

.container_in_main .font_in_fontguide#gmarketsans h4 {
	display: inline-block;
	color: white;
}













/****************footer****************/
.container#footer {
	width: 900pt;
	height: auto;
	background-color: #c6c3e6;
	margin: 0 auto;
	margin-bottom: 100pt;
}


.container_in_footer#utility {
	border-bottom: 1pt solid #aaaaaa;
	padding: 5pt 0;
}

.container_in_utility#utility_list_container {
	
	display: inline-block;
}

.list_in_utility#utility_list {
	
}

.list-item_utility {
	display: inline-block;
	padding: 0 13pt;
	margin: 5pt 0;
	font-size: 11pt;
	letter-spacing: -2px;
	border-left: 1px solid #aaaaaa;
}

.list-item_utility#introduce {
	padding-left: 0;
	border-left: 0px solid black;
}

.container_in_utility#sellermenu {
	display: inline-block;
	background-color: white;
	height: 21pt;
	width: 100pt;
	text-align-last: center;
	border: 1pt solid #dddddd;
	color: #555555;
	font-size: 11pt;
	font-weight: 700;
	float: right;
	margin-right: 5pt;

}


.container_in_footer#company_info{
}

.container_in_company_info {
	display: inline-block;
	width: 50%;
	float: left;
	padding: 15pt 0;
	border-bottom: 1pt solid #aaaaaa;
}

.container_in_company_info * {
	display: inline-block;
}


.container_in_footer#legal_info {
	padding: 15pt 0;
	border-bottom: 1pt solid #aaaaaa;
	font-size: 10pt;
	letter-spacing: -2px;
}
.container_in_footer#legal_info * {
	display: inline-block;
}

.container_in_footer#footer_notice {
	font-size: 10pt;
	letter-spacing: -2px;
	color: #777777;
}

.test_in_footer_notice#notice_first a {
	margin-left: 10pt;

}

.test_in_footer_notice#notice_second {
	color: black;
}

.test_in_footer_notice#online_society {
	margin-top: 10pt;
}